In [2]:
import os
import warnings
import pandas as pd

In [3]:
os.chdir('../')
warnings.filterwarnings('ignore')

In [4]:
label = pd.read_csv('src/raw_data/ground_truth.csv')
label.head(5)

,file,recovery,drop
0,00e03657-8e1e-4c8c-a724-1d3c77b48510,"[[2420.9805555555554, 2438.4241666666667], [31...","[[3454.6875, 3764.9605555555554]]"
1,00e4dba2-36d2-42b4-beb1-c55aed75f506,[],"[[13285.465, 19439.800555555557]]"
2,00f035b7-ad7a-4f30-9081-522a3c10805b,[],"[[0.0, 42.75]]"
3,01a0c034-6afc-4e73-95fa-621f702a0b7d,[],"[[0.0, 491.98305555555555]]"
4,01a530d3-6496-4515-9fbb-4f44e298fd29,[],"[[4921.376666666667, 6209.231666666667]]"

In [5]:
label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   file      100 non-null    object
 1   recovery  100 non-null    object
 2   drop      100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [6]:
import os

filename = label['file'][0]
with open(os.path.join('src/raw_data/train', filename), 'r') as file:
    file_data = file.read().split('\n')

file_data.remove('')

times = []
pressure = []
for i in range(len(file_data)):
    file_data[i] = file_data[i].split('\t')
    times.append(file_data[i][0])
    pressure.append(file_data[i][1])

times.sort()
pressure.sort()
file_df = pd.DataFrame(data={'time': times, 'pressure': pressure})

In [7]:
file_df

              time    pressure
0         0.000000  100.005119
1         0.026111  100.005119
2         0.555000  100.005119
3         0.589444  100.005119
4         1.262500  100.005119
...            ...         ...
30997  9997.987500   99.995441
30998  9998.450556   99.995441
30999  9998.492222   99.995441
31000  9999.329444   99.995441
31001  9999.413056   99.995441

[31002 rows x 2 columns]